---
layout: default
title: Homepage
---

<div id="home">
 <div id="info">
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
 </div>
  <ul class="posts">
    {% for post in paginator.posts %}
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a href="{{ post.url }}" itemprop="url">
        <div class="p-wrap">
          <time datetime="{{ post.date | date_to_xmlschema }}"
              itemprop="datePublished">
            {{ post.date | date_to_string }}
          </time>
          <p itemprop="name headline">{{ post.title }}</p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
  <a href="/page/{{paginator.next_page}}" class="older">Older</a>
  {% else %}
  <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a href="/" class="newer">Newer</a>
    {% else %}
    <a href="/page/{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
  <span class="previous">Newer</span>
  {% endif %}
</div>
{% endif %}
